[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
  split_horiz = <Primary>r
  split_vert = <Primary>e
  close_term = <Primary>w
  help = None
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
    show_titlebar = False
    scrollback_lines = 5000
    palette = "#000000:#cc0000:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#fce94f:#729fcf:#ad7fa8:#34e2e2:#eeeeec"
    use_theme_colors = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
[plugins]
